body {
  background-color: white;
  color: black;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:link {
  color:#0070BB;
} /* unvisited */

a:visited {
  color: blue;
  } /* visited */

a:hover {
  color: yellow;
  } /* mouse over */

a:active {
  color: white;
  } /* selected */

h1 {
  font-size: 3em; /* 32px */
  font-weight: bold;
}

h3 {
font-size: 1.3em;
line-height: 1.4;
}

p {
  font-size: 1.1em;
  line-height: 2
}

.author {
  font-size: 1.2em
}

figcaption {
font-size: 1em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
